@charset "utf-8";
/* CSS Document */

/*
.btn-primary:active,.btn-primary:focus {
  background: #fff;
}
*/

img.logo {
    width: 24px;
    margin: 0 10px 0;
}

.logos-item{
	min-height:300px;
}

.heading__sub {
    font-size: 20px;
}

.pricing-item__title {
    min-height: 50px;
}
.pricing-item__body {
    min-height: 160px;
}

.padding-bottom{
	padding-bottom: 100px;
}

.padding-big-bottom{
	padding-bottom: 200px;
}

.team-member__avatar img {
		width: 100%;
}

@media (max-width:768px){
	.team-member__avatar {
		max-width: 80%;
	}
}

/* XS */
@media (max-width:767px){
/*
	.col-xs-margin-top {
		padding-top: 80px !important;
	}
*/
	.navbar-nav > li > a {
		font-size: 16px;
	}
	.team-member__avatar {
		width: 80%;
	}
}

/* XS || SM */
@media (max-width:991px){
}

/* SM */
@media (min-width:768px) and (max-width:991px){
/*
	.col-sm-margin-top {
		padding-top: 160px !important;
	}
*/
	.team-member__avatar {
		width: 70%;
	}
}

/* MD || LG */
@media (min-width:992px){
/*
	.col-md-margin-top {
		padding-top: 110px !important;
	}
*/
	.heading__sub {
		font-size: 24px;
	}
	
	.form-control {
		font-size: 18px;
	}

	.navbar-nav > li > a {
		font-size: 16px;
	}
}

/* LG */
@media (min-width:1200px){
}

/*
if(h<xs) diff.now='h-xs';
else if(h<=sm) diff.now='h-sm';
else if(h<=md) diff.now='h-md';
else if(h<=lg) diff.now='h-lg';
else diff.now='h-xl';
*/

.screen-container.h-lg{
    padding-top: 200px;
    padding-bottom: 80px;
}

